body{
    background-color:rgb(195, 195, 195);
    font-family: "Roboto";
}

.customNavbar{
    background-color: rgb(201, 31, 31);
    color: white !important;
}

.customNavbar .navbar-brand {
    font-size: 24px; /* Increase font size for navbar-brand */
    padding-right: 20px;
  }

  .customNavbar .navbar-nav .nav-link {
    padding: 10px 15px; /* Add padding between list elements */
    display: flex;
    align-items: center; /* Vertically center the content */
  }

.card{
    background-color: rgb(174, 174, 174);
}