<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/generalStyle.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/aTravelDetails.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
    <title>ŞuBilet</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main') }}">Search Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('companysAllTravels', upcomingOrPast = 'upcoming') }}">Company's All Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('addCompanyTravel', travelVehicleType = 'plane') }}">Register A Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Company Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>


    <!-- <div class="container-fluid pt-4 pb-4 upperBar">
        <div class="row">
            <div class="col-3">
                <form action="{{ request.path }}" method="get">
                    <select class="form-select" name="sort_type" id="sort_type">
                        <option value="earliest_to_latest" {% if sortType == 'earliest_to_latest' %}selected{% endif %}>Time (earliest to latest)</option>
                        <option value="latest_to_earliest" {% if sortType == 'latest_to_earliest' %}selected{% endif %}>Time (latest to earliest)</option>
                        <option value="low_to_high" {% if sortType == 'low_to_high' %}selected{% endif %}>Price (low to high)</option>
                        <option value="high_to_low" {% if sortType == 'high_to_low' %}selected{% endif %}>Price (high to low)</option>
                    </select>

                   <button type="submit" id="sort-button" class="btn btn-outline-danger" style="display: none;">Sort</button>
                </form>
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-outline-danger"
                onclick="document.getElementById('sort-button').click()">Sort</button>
            </div>

        </div>
    </div> -->
    
    <!-- <div class="container ">
        <div class="d-flex justify-content-around mt-4 mb-3 ">
          <div class="flex-fill justify-content-center text-center">
            <a href="{{ url_for('companysAllTravels', upcomingOrPast = 'upcoming') }}" class="justify-content-center">
              <button
                type="button"
                class="btn btn-lg w-50 {% if request.path == '/companysAllTravels/upcoming' %} btn-secondary {% else %} btn-danger {% endif %}"
              >
                Upcoming Travels
              </button>
            </a>
          </div>
      
          <div class=" flex-fill justify-content-center text-center">
            <a href="{{ url_for('companysAllTravels', upcomingOrPast = 'past') }}" class="justify-content-center">
              <button
                type="button"
                class="btn btn-lg w-50 {% if request.path == '/companysAllTravels/past' %}btn-secondary {% else %} btn-danger {% endif %}"
              >
                Past Travels
              </button>
            </a>
          </div>
        </div>
    </div> -->
      
    
    {% if theTravel %}
        <div class="container pt-5 ">
            <h4>
                The Travel
            </h4>
            <hr>
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            
                            <div class="col">
                                <div class="row">
                                    <h6 class=" blockTitle">Departure Terminal</h6>
                                    <p class="">{{ theTravel['name'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Departure Time</h6>
                                    <p class="">{{ theTravel['depart_time'] }}</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Arrival Terminal</h6>
                                    <p class="">{{ theTravel['Ar.name'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Arrival Time</h6>
                                    <p class="">{{ theTravel['arrive_time'] }}</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Vehicle Type</h6>
                                    <p class="">{{ theTravel['type'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Vehicle Model</h6>
                                    <p class="">{{ theTravel['model'] }}</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Price</h6>
                                    <p class="">{{ theTravel['price'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Business Price</h6>
                                    {% if theTravel['business_price'] %}
                                        <p class="">{{ theTravel['business_price'] }} ₺</p>
                                    {% else %}
                                        <p>-</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container pt-4 ">
        <h4> All Purchases For This Travel</h4>
        <hr>
    </div>
    {% if aTravelPurchaseDetails %}
    <div class="container ">
        {% for singlePurchaseDetail in aTravelPurchaseDetails %}
            <div class="card card-person bg-secondary text-white">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row align-items-start">
                            
                            <div class="col">
                                <div class="row">
                                    <h6 class=" blockTitle">PNR</h6>
                                    <p class="">{{ singlePurchaseDetail['PNR'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">TCK</h6>
                                    <p class="">{{ singlePurchaseDetail['TCK'] }}</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Name</h6>
                                    <p class="">{{ singlePurchaseDetail['name'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Surname</h6>
                                    <p class="">{{ singlePurchaseDetail['surname'] }}</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Seat Number</h6>
                                    <p class="">{{ singlePurchaseDetail['seat_number'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Seat Type</h6>
                                    <p class="">{{ singlePurchaseDetail['seat_type'] }}</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Purchased Time</h6>
                                    <p class="">{{ singlePurchaseDetail['purchased_time'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Purchase Amount</h6>
                                    <p class="">{{ singlePurchaseDetail['amount'] }}</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Coupon Name</h6>
                                    {% if singlePurchaseDetail['coupon_name'] %}
                                        <p class="">{{ singlePurchaseDetail['coupon_name'] }}</p>
                                    {% else %}
                                        <p class="">-</p>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Coupon Sale Rate</h6>
                                    {% if singlePurchaseDetail['coupon_name'] %}
                                        <p class="">{{ singlePurchaseDetail['sale_rate'] }}</p>
                                    {% else %}
                                        <p class="">-</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col">
                                <div class="row align-items-start">
                                    <h6 class="blockTitle">Payment method</h6>
                                    <p class="">{{ singlePurchaseDetail['payment_method'] }}</p>
                                </div>
                            </div>

                            <div class="col align-items-center">
                                <a class="row mb-2 text-decoration-none" href="#">
                                    <button class="btn btn-danger">Delete & Refund</button>
                                </a>
                                <a class="row mb-2 text-decoration-none" href="#">
                                    <button class="btn btn-danger">Delete & Give Free Travel </button>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container ">
        <h5> There is no purchase yet. </h5>
    </div>
    {% endif %}

    <div class="container pt-4 ">
        <h4> All Reservations For This Travel</h4>
        <hr>
    </div>
    {% if aTravelReservationDetails %}
    <div class="container ">
        {% for singleReservationDetail in aTravelReservationDetails %}
            <div class="card card-person bg-secondary text-white">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row align-items-start">
                            
                            <div class="col">
                                <div class="row">
                                    <h6 class=" blockTitle">PNR</h6>
                                    <p class="">{{ singleReservationDetail['PNR'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">TCK</h6>
                                    <p class="">{{ singleReservationDetail['TCK'] }}</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Name</h6>
                                    <p class="">{{ singleReservationDetail['name'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Surname</h6>
                                    <p class="">{{ singleReservationDetail['surname'] }}</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Seat Number</h6>
                                    <p class="">{{ singleReservationDetail['seat_number'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Seat Type</h6>
                                    <p class="">{{ singleReservationDetail['seat_type'] }}</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Reservation Time</h6>
                                    <p class="">{{ singleReservationDetail['reserved_time'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Pruchase Deadline</h6>
                                    <p class="">{{ singleReservationDetail['purchased_deadline'] }}</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container">
        <h5> There is no reservation yet. </h5>
    </div>
    {% endif %}

</body>