<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generalStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/companies.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
    <title>ŞuBilet</title>
</head>
<body>
  {% if session['loggedin']  and session['userType'] == 'traveler' %} 
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('myTravels') }}">My Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('journeys') }}">My Journeys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('balance')}}">Balance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('coupons') }}">Coupons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('userProfile') }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
{% elif session['loggedin']  and session['userType'] == 'company' %}
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main') }}">Search Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('companysAllTravels', upcomingOrPast = 'upcoming') }}">Company's All Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('addCompanyTravel', travelVehicleType = 'plane') }}">Register A Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('companyProfile', companyId = session['userid']) }}">Company Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
{% elif session['loggedin'] and session['userType'] == 'admin' %}
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main') }}">Search Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('companies')}}">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('couponManagement') }}">Coupons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('vehicleManagement') }}">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('terminalManagement') }}">Terminals</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('reportManagement') }}">Application Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
{% else %}
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item border-right pr-3">
          <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('travelerRegister') }}">Register</a>
        </li>
      </ul>
    </div>
  </nav>
{% endif %}

    <div class="container-fluid pt-4 pb-4 upperBar">
      <div class="container">
        <div class="row mx-4">
          <div class="col-4">
            <form class="row" action="{{ request.path }}" method="GET">
              <input type="hidden" name="filter_type" id="filter_type" value="{{ filterType }}">
              <div class="col-6">
                <select class="form-select" name="sort_type" id="sort_type">
                  <option value="sort_by_name" {% if sortType == 'sort_by_name' %}selected{% endif %}>Name</option>
                  <option value="validation_date_earliest_to_latest" {% if sortType == 'validation_date_earliest_to_latest' %}selected{% endif %}>Validation date (earliest to latest)</option>
                  <option value="validation_date_latest_to_earliest" {% if sortType == 'validation_date_latest_to_earliest' %}selected{% endif %}>Validation date (latest to earliest)</option>
                  <option value="foundation_date_earliest_to_latest" {% if sortType == 'foundation_date_earliest_to_latest' %}selected{% endif %}>Foundation date (earliest to latest)</option>
                  <option value="foundation_date_latest_to_earliest" {% if sortType == 'foundation_date_latest_to_earliest' %}selected{% endif %}>Foundation date (latest to earliest)</option>
                </select>
              </div>
              <div class="col-6">
                <button type="submit" id="sort-button" class="btn btn-outline-danger">Sort</button>
              </div>
            </form>
          </div>

          <div class="col-4">
            <form class="row" action="{{ request.path }}" method="GET">
              <input type="hidden" name="sort_type" id="sort_type" value="{{ sortType }}">
              <div class="col-6">
                <select class="form-select" name="filter_type" id="filter_type">
                  <option value="all" {% if filterType == 'all' %}selected{% endif %}>All</option>
                  <option value="validated" {% if filterType == 'validated' %}selected{% endif %}>Validated</option>
                  <option value="unvalidated" {% if filterType == 'unvalidated' %}selected{% endif %}>Unvalidated</option>
                  <option value="active" {% if filterType == 'active' %}selected{% endif %}>Active</option>
                  <option value="inactive" {% if filterType == 'inactive' %}selected{% endif %}>Inactive</option>
                </select>
              </div>
              <div class="col-6">
                <button type="submit" id="filter-button" class="btn btn-outline-danger">Filter</button>
              </div>
            </form>
          </div>

          <div class="col-4">
            <form class="row" action="{{ request.path }}" method="GET">
              <div class="col-6">
                <input type="text" class="form-control" name="search_word" id="search_word">
              </div>
              <div class="col-6">
                <button type="submit"  class="btn btn-outline-danger">Search</button>
              </div>
            </form>
          </div>
          
          
        </div>
      </div>  
    </div>

    <div class="container pt-4 ">
        <h4> Companies </h4>
        <hr>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class=flashes>
      {% for message in messages %}
        {% if message != 'Session was not valid, please log in!' %}
          <div class="container mt-2">
            <h4 class="text-danger">{{ message }}</h4>
          </div>
        {% endif %}
      {% endfor %}
      </div>
    {% endif %}
    {% endwith %}


    {% if allCompanies%}
    <div class="container mt-2">
        {% for singleCompany in allCompanies %}
            <div class="card card-person bg-secondary text-white">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row align-items-start">
                            
                            <div class="col">
                                <div class="row">
                                    <h6 class=" blockTitle">Company Name</h6>
                                    <p class="">{{ singleCompany['company_name'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Email</h6>
                                    <p class="">{{ singleCompany['email'] }}</p>
                                </div>
                                
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Phone</h6>
                                    <p class="">{{ singleCompany['phone'] }}</p>
                                </div>
                                <div class="row">
                                  <h6 class="blockTitle">Website</h6>
                                  <p class="">{{ singleCompany['website'] }}</p>
                              </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Foundation Date</h6>
                                    <p class="">{{ singleCompany['foundation_date'] }}</p>
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Status</h6>
                                    {% if singleCompany['active'] %}
                                    <p>Active</p>
                                    {% else %}
                                    <p>Inactive</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <h6 class="blockTitle">Validator Username</h6>
                                    {% if singleCompany['admin_username'] %}
                                    <p class="">{{ singleCompany['admin_username'] }}</p>
                                    {% else %}
                                    <p>-</p>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <h6 class="blockTitle">Validation Date</h6>
                                    {% if singleCompany['validation_date'] %}
                                    <p class="">{{ singleCompany['validation_date'] }}</p>
                                    {% else %}
                                    <p>-</p>
                                    {% endif %}
                                </div>
                            </div>

                        </div>

                        <div class="row align-items-start">
                          <h6 class="blockTitle">About Company</h6>
                          <p class="">{{ singleCompany['about'] }}</p>
                        </div>

                        <div class="row align-items-start mt-4">
                              <form class="row mb-2" action="{{ url_for('companysAllTravels', upcomingOrPast = 'upcoming' ) }}" method="GET">
                                <input type="hidden" name="company_id" id="company_id" value="{{ singleCompany['id'] }}">
                                <button type="submit" class="btn btn-danger" >See Company's All Travels</button>
                              </form>
                              <a class="row mb-2 text-decoration-none" href="{{ url_for('companyProfile', companyId = singleCompany['id']) }}">
                                  <button class="btn btn-danger">Edit Company</button>
                              </a>
                              {% if singleCompany['active'] %}
                              <a class="row mb-2 text-decoration-none" href="{{ url_for('deactivateCompany', companyId = singleCompany['id']) }}">
                                  <button class="btn btn-danger">Deacivate Company</button>
                              </a>
                              {% else %}
                              <a class="row mb-2 text-decoration-none" href="{{ url_for('activateCompany', companyId = singleCompany['id']) }}">
                                <button class="btn btn-warning">Activate Company</button>
                              </a>
                              {% endif%}

                              {% if not singleCompany['validation_date'] %}
                              <a class="row mb-2 text-decoration-none" href="{{ url_for('validateCompany', companyId = singleCompany['id']) }}">
                                <button class="btn btn-info">Validate Company</button>
                              </a>
                              {% endif %}  
                              <a class="row mb-2 text-decoration-none" href="{{ url_for('deleteCompany', companyId = singleCompany['id']) }}">
                                <button class="btn btn-danger">Delete Company</button>
                            </a>                          
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container ">
        <h5> There is no company. </h5>
    </div>
    {% endif %}


</body>