<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/generalStyle.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/travelerRegister.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>ŞuBilet|Register</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark customNavbar">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main') }}"><h2>ŞuBilet.com</h2></a>
      </div>
    </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 p-5 rounded-4">

          <div class="row justify-content-center mt-2 mb-4">
            <button
              type="button"
              class=" col-4 btn btn-lg btn-primary text-white {% if request.path == '/travelerRegister' %}btn-current{% endif %}"
              onclick="location.href='/travelerRegister';"
            >
              Traveler
            </button>
            <div class="col-2"></div>
            <button
              type="button"
              class=" col-4 btn btn-lg btn-primary text-white {% if request.path == '/companyRegister' %}btn-current{% endif %}"
              onclick="location.href='/companyRegister';"
            >
              Company
            </button>
          </div>

          <form class="login-box mt-3 rounded" action="{{ url_for('companyRegister') }}" method="POST">
              <div class="row mb-4">
                <div class="col-md-6">
                  <label for="companyName" class="form-label text-start">
                    <h4>Company Name<span class="text-danger">*</span></h4>
                  </label>
                  <input
                    type="text"
                    id="companyName"
                    name="companyName"
                    class="form-control"
                    placeholder="Enter company name"
                  />
                </div>
                <div class="col-md-6">
                  <label for="companyEmail" class="form-label text-start">
                    <h4>Company Official Email<span class="text-danger">*</span></h4>
                  </label>
                  <input
                    type="email"
                    id="companyEmail"
                    name="companyEmail"
                    class="form-control"
                    placeholder="Enter official company email"
                  />
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-6">
                  <label for="companyPhone" class="form-label text-start">
                    <h4>Company Official Phone<span class="text-danger">*</span></h4>
                  </label>
                  <input
                    type="tel"
                    id="companyPhone"
                    name="companyPhone"
                    class="form-control"
                    placeholder="Enter official company phone number"
                  />
                </div>
                <div class="col-md-6">
                  <label for="website" class="form-label text-start">
                    <h4>Company Official Website<span class="text-danger">*</span></h4>
                  </label>
                  <input
                    type="url"
                    id="website"
                    name="website"
                    class="form-control"
                    placeholder="Enter official company website"
                  />
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-6">
                  <label for="foundationDate" class="form-label text-start">
                    <h4>Foundation Date</h4>
                  </label>
                  <input
                    type="date"
                    id="foundationDate"
                    name="foundationDate"
                    class="form-control"
                  />
                </div>
                <div class="col-md-6">
                  <label for="aboutCompany" class="form-label text-start">
                    <h4>About Company</h4>
                  </label>
                  <input
                    type="text"
                    id="aboutCompany"
                    name="aboutCompany"
                    class="form-control"
                    placeholder="About"
                  />
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-6">
                  <label for="password" class="form-label text-start">
                    <h4>Password<span class="text-danger">*</span></h4>
                  </label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter password"
                  />
                </div>
                <div class="col-md-6">
                  <label for="passwordRepeat" class="form-label text-start">
                    <h4>Repeat Password<span class="text-danger">*</span></h4>
                  </label>
                  <input
                    type="password"
                    id="passwordRepeat"
                    name="passwordRepeat"
                    class="form-control"
                    placeholder="Repeat password"
                  />
                </div>
              </div>

              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </div>

            <div class="d-grid">
              <button
                type="button"
                class="btn btn-primary signup-btn mt-2 text-white"
                onclick="location.href='/login';"
              >
                Login
              </button>
            </div>

            <div class="mt-4">
              <h5 class="text-start"><span class="text-danger">*</span>required fields</h5>
            </div>

            {% if message is defined and message %}
              <h4 class="m-4">{{ message }}</h4>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
