<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generalStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/couponsPage.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
    <title>ŞuBilet</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('myTravels') }}">My Travels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Balance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('coupons', user_id=user_id) }}">Coupons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('userProfile', user_id=user_id) }}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="container-fluid text-white">
        <div class="row"> <!--Main row-->

            <div class="col"> <!--Left column-->

                <div class="row"> <!-- Left column 1st row -->
                    <div class="card m-4 infoCard">
                        <div class="card-header">
                            <h5 class="card-title"> Available Coupons </h5>
                        </div>
                        <div class="card-body">
                            {% for coupon in available_coupons %}
                            <div class="card availableCouponCard p-2 mb-2">
                                {{ coupon.coupon_name }} ({{ coupon.sale_rate * 100 }}%)
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row"> <!-- Left column 2nd row -->
                    <div class="card m-4 infoCard">
                        <div class="card-header">
                            <h5 class="card-title"> Past Coupons </h5>
                        </div>
                        <div class="card-body">
                            {% for coupon in past_coupons %}
                            <div class="card unavailableCouponCard p-2 mb-2">
                                {{ coupon.coupon_name }} ({{ coupon.sale_rate * 100 }}%)
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col"> <!-- Right column -->
                <div class="card m-4 infoCard">
                   <div class="card-header">
                        <h5 class="card-title"> Add New Coupon </h5>
                   </div> 
                   <div class="card-body">
                        <form method="POST" action="{{ url_for('coupons', user_id=user_id) }}">
                            <label for="couponForm" class="form-label">Enter coupon number</label>
                            <input class="form-control" name="coupon_number" id="couponForm" aria-describedby="couponForm">
                            <div id="couponForm" class="form-text custom-form-text">
                                Private coupons can only be entered by one user. Don't share your private coupons with others.
                            </div>
                            <br/>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-outline-success btn-lg">Add Coupon</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

        </div>
    </div>

</body>