<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="generalStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
    <title>ŞuBilet</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('myTravels') }}">My Travels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('balance')}}">Balance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('coupons') }}">Coupons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('userProfile') }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container pt-5">

        <div class="container d-flex justify-content-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="travelTypeChoice" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-danger" for="btnradio1">Bus</label>
            
                <input type="radio" class="btn-check" name="travelTypeChoice" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-danger" for="btnradio2">Plane</label>
            
                <input type="radio" class="btn-check" name="travelTypeChoice" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-danger" for="btnradio3">Train</label>
            </div>
        </div>
        <br/>
        <div class="card text-white justify-content-center">
            <div class="card-header text-center">
                <h1>Search for a travel</h1>
            </div>
            <div class="card-body">
                <div class="container pt-2">
                    <label for="from-location" class="form-label">From:</label>
                    <select class="form-select" name="from-location" id="from-location">
                        <option>İzmir</option>
                        <option>Ankara</option>
                        <option>İstanbul</option>
                        <option>Muş</option>
                    </select> 
                </div>

                <div class="container pt-2">
                    <label for="to-location" class="form-label">To:</label>
                    <select class="form-select" name="to-location" id="to-location">
                    <option>İzmir</option>
                    <option>Ankara</option>
                    <option>İstanbul</option>
                    <option>Muş</option>
                    </select> 
                </div>
                
                <div class="container pt-4">
                    <label for="travel-date">Travel Date:</label>
                    <input type="date" id="travel-date" name="travel-date"/>
                </div>

                <div class="d-grid pt-4 justify-content-center">
                    <button type="button" class="btn btn-lg btn-danger">Find Travel</button>
                </div>



            </div>
        </div>
    </div>
</body>
</html>