<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generalStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/journeysPage.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
    <title>ŞuBilet</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
        <ul class="navbar-nav">
          <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('myTravels') }}">My Travels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('journeys') }}">My Journeys</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('balance')}}">Balance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('coupons') }}">Coupons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('userProfile') }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>
        </ul>
      </div>
</nav>

    <div class="container mt-5">
      <div class="card"> 
        <div class="card-body bg-secondary text-white">
          <form method="POST" action="{{ url_for('journeys') }}">
            <div class="d-grid gap-2 col-4 mx-auto">
              <h3>Create a new journey </h3>
              <input placeholder="Enter a name for your journey" class="form-control" name="journeyForm" id="journeyForm" aria-describedby="journeyForm">
              <button type = "submit" class="btn btn-danger" name="create">Create</button>
            </div>
          </form>
        </div>
      </div>
      <hr/>

      <h3>Your journeys</h3>
      {% if journeys %}
      {% for journey in journeys %}
      <div class="accordion mb-4" id="accordion{{ loop.index }}">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading{{ loop.index }}">
            <button class="accordion-button bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ loop.index }}" aria-expanded="true" aria-controls="flush-collapse{{ loop.index }}">
              {{ journey.journey_name }}
            </button>
          </h2>
          <div id="flush-collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ loop.index }}" data-bs-parent="#accordion">
            <div class="accordion-body" id="accordionBody{{ loop.index }}">
              {% for travel in travelsInJourneys %}
              {% if travel.journey_name == journey.journey_name %}
              <div class="row mb-2">
                <div class="card text-white">
                  <div class="card-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-3">
                          <h3 class="companyTitle">{{ travel.company_name }}</h3>
                        </div>
                        <div class="col">
                          <div class="row text-secondary">Travel Date:</div>
                          <div class="row">{{ travel.depart_time }}</div>
                        </div>
                        <div class="col">
                          <div class="row text-secondary">Departure:</div>
                          <div class="row">{{ travel.dep_name }}</div>
                        </div>
                        <div class="col">
                          <div class="row text-secondary">Destination:</div>
                          <div class="row">{{ travel.arr_name }}</div>
                        </div>
                        <div class="col">
                          <div class="row text-secondary">Price:</div>
                          <div class="row">{{ travel.price }}</div>
                        </div>
                        <div class="col-2">
                          {% if travel.travel_id in booked_journey_ids %}
                          <form method='POST' action="{{ url_for('myTravels') }}">
                            <button class="btn btn-success btn-lg mb-2" type="submit">Details</button>
                          </form>
                          {% else %}
                            <form method='POST' action="{{ url_for('buy_travel', travel_id=travel.travel_id) }}">
                              <button class="btn btn-success btn-lg mb-2" type="submit" name="journey">Purchase/Reserve</button>
                            </form>
                          {% endif %}
                        </div>
                        <div class="col-2">
                          <form method='POST' action="{{ url_for('journeys') }}">
                            <button class="btn btn-danger btn-lg mb-2" type="submit" name="delete">Delete</button>
                            <input type="hidden" name="travel_id" id="travel_id" value="{{ travel.travel_id }}">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% set match_found = true %}
              {% endif %}
              {% endfor %}
              <form action="{{ url_for('buy_all') }}" method="POST">
                <input type="hidden" name="journey_name" value="{{ journey.journey_name }}">
                <div class="row">
                  <div class="col">
                    <button class="btn btn-danger btn-lg" type="submit" name="action" value="buy">Buy All</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-warning btn-lg" type="submit" name="action" value="reserve">Reserve All</button>
                  </div>
                </div>
              </form>
                </div>
              </div>
            </div>
          </div>
          <script>
            var content = document.getElementById("accordionBody{{loop.index}}").innerHTML
            console.log(content);
            if (content.trim().length == 0){
              document.getElementById("accordionBody{{loop.index}}").innerHTML = "There are currently no travels in this journey. You can search for travels from the main page and add them to your journeys."
            }
          </script>  

        {% endfor %}

      {% else %}
        <div>You currently have no journeys.</div>
      {% endif %}
    </div>
</body>