<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generalStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listAvailableTravelsPage.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
    <title>ŞuBilet</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <a class="navbar-brand" href="/"><strong>şu</strong>bilet.com</a>
            <li class="nav-item">
              <a class="nav-link" href="#">My Travels</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="#">Balance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Coupons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log Out</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="container-fluid pt-4 pb-4 upperBar">
        <div class="row">
            <div class="col-3">
                <form action="{{ request.path }}" method="get">
                    <select class="form-select" name="sort_type" id="sort_type">
                        <option value="earliest_to_latest" {% if sortType == 'earliest_to_latest' %}selected{% endif %}>Time (earliest to latest)</option>
                        <option value="latest_to_earliest" {% if sortType == 'latest_to_earliest' %}selected{% endif %}>Time (latest to earliest)</option>
                        <option value="low_to_high" {% if sortType == 'low_to_high' %}selected{% endif %}>Price (low to high)</option>
                        <option value="high_to_low" {% if sortType == 'high_to_low' %}selected{% endif %}>Price (high to low)</option>
                    </select>

                   <button type="submit" id="sort-button" class="btn btn-outline-danger" style="display: none;">Sort</button>
                </form>
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-outline-danger"
                onclick="document.getElementById('sort-button').click()">Sort</button>
            </div>

            <div class="col-2">
                <!--Replace with actual data from database-->
                From: {{ departureCity }}
            </div>
            <div class="col-2">
                <!--Replace with actual data from database-->
                To: {{ arrivalCity }}
            </div>
            <div class="col-3">
                <!--Replace with actual data from database-->
                Date: {{ departureDate }}
            </div>
        </div>
    </div>


    <div class="container pt-5">
        <!--This will be handled by a loop from the database of course-->
        <div>{{ departure_city }}</div>
        {% if searchedTravels %}
            {% for singleTravel in searchedTravels %}
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-5">
                                <h1 class="companyTitle">{{ singleTravel['company_name'] }}</h1>
                            </div>
                            <div class="col-5">
                                <div class="row arrow-container">
                                    <div class="col arrow-text">
                                        <div>Depart: {{ singleTravel['depart_time'] }}</div>
                                    </div>
                                    <div class="col">                        
                                        <span class="arrow">&rarr;</span>
                                    </div>
                                    <div class="col arrow-text">
                                        <div>Arrive: {{ singleTravel['arrive_time'] }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-right">
                                <button class="btn btn-danger btn-lg">{{ singleTravel['price'] }} ₺</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div>
                <h3>Unfortunetelly, there is no such travel.</h3>
            </div>
        {% endif %}


    </div>

</body>