<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generalStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listAvailableTravelsPage.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
    <title>ŞuBilet</title>

    <script>
        function selectBox(boxNumber) {
            const selectedBox = document.getElementById('box' + boxNumber);
            const boxes = document.querySelectorAll('.box');
            document.getElementById('seat_number').value = boxNumber;

            boxes.forEach(otherBox => {
                otherBox.classList.remove('selected');
            });

            selectedBox.classList.add('selected');
        }
    </script>
</head>
<body>
  {% if is_logged_in and session['userType'] == 'traveler' %} 
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('myTravels') }}">My Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('journeys') }}">My Journeys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('balance')}}">Balance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('coupons') }}">Coupons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('userProfile') }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
{% elif is_logged_in and session['userType'] == 'company' %}
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main') }}">Search Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('companysAllTravels', upcomingOrPast = 'upcoming') }}">Company's All Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('addCompanyTravel', travelVehicleType = 'plane') }}">Register A Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('companyProfile', companyId = session['userid']) }}">Company Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
{% elif is_logged_in and session['userType'] == 'admin' %}
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main') }}">Search Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('companies')}}">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('couponManagement') }}">Coupons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('vehicleManagement') }}">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('terminalManagement') }}">Terminals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('reportManagement') }}">Application Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
{% else %}
  <nav class="navbar navbar-expand-sm navbar-dark customNavbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('main') }}"><strong>şu</strong>bilet.com</a>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item border-right pr-3">
          <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('travelerRegister') }}">Register</a>
        </li>
      </ul>
    </div>
  </nav>
{% endif %}

    <div class="container-fluid pt-4 pb-4 upperBar">
        <div class="row">
            <div class="col-3">
                <form action="{{ request.path }}" method="get">
                    <select class="form-select" name="sort_type" id="sort_type">
                        <option value="earliest_to_latest" {% if sortType == 'earliest_to_latest' %}selected{% endif %}>Time (earliest to latest)</option>
                        <option value="latest_to_earliest" {% if sortType == 'latest_to_earliest' %}selected{% endif %}>Time (latest to earliest)</option>
                        <option value="low_to_high" {% if sortType == 'low_to_high' %}selected{% endif %}>Price (low to high)</option>
                        <option value="high_to_low" {% if sortType == 'high_to_low' %}selected{% endif %}>Price (high to low)</option>
                    </select>

                   <button type="submit" id="sort-button" class="btn btn-outline-danger" style="display: none;">Sort</button>
                </form>
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-outline-danger"
                onclick="document.getElementById('sort-button').click()">Sort</button>
            </div>

            <div class="col-2">
                From: {{ departureCity }}
            </div>
            <div class="col-2">
                To: {{ arrivalCity }}
            </div>
            <div class="col-3">
                {% if extra_date=='none' %}
                  Date: {{ departureDate }}
                {% else %}
                  Date Range: {{ departureDate }} - {{ extra_date }}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container pt-5">
        <div>{{ departure_city }}</div>
        {% if searchedTravels %}
            {% for singleTravel in searchedTravels %}
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6" style="width:20vw">
                                <h1 class="companyTitle">{{ singleTravel['company_name'] }}</h1>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <div class="row arrow-container" style="width:80%">
                                    <div class="col arrow-text">
                                        <div>Depart: {{ singleTravel['depart_time'] }}</div>
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        <span class="arrow">&rarr;</span>
                                    </div>
                                    <div class="col arrow-text">
                                        <div>Arrive: {{ singleTravel['arrive_time'] }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-right">
                                <!--<a href="{{ url_for('buy_travel', travel_id=singleTravel['travel_id']) }}" class="btn btn-danger btn-lg">{{ singleTravel['price'] }} ₺</a>
                                    -->

                                <div class="container">
                                    <div class="row">
                                    <div class="row">
                                        {% if travel_seat != singleTravel['travel_id'] %}
                                        <form action="{{ url_for('buy_travel', travel_id=singleTravel['travel_id']) }}" method="get">
                                            <button type="submit" style="width: 10vw" class="btn btn-danger btn-lg">Purchase random seat</button>
                                        </form>
                                        {% else %}
                                        <form action="{{ url_for('buy_travel', travel_id=singleTravel['travel_id']) }}" method="POST">
                                            <input type="hidden" name="seat_number" id="seat_number">
                                            <button type="submit" id="seat_purchase" style="width: 10vw" class="btn btn-danger btn-lg">Purchase seat</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                        {% if travel_seat != singleTravel['travel_id'] %}
                                        <form action="{{ request.path }}" method="get">
                                            <input type="hidden" name="travel_seat" value="{{ singleTravel['travel_id'] }}">
                                            <button type="submit" style="width: 10vw" class="btn btn-danger btn-lg">Choose seat</button>
                                        </form>
                                        {% else %}
                                        <form action="{{ request.path }}" method="get">
                                            <button type="submit" style="width: 10vw" class="btn btn-danger btn-lg">Close</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if travel_seat == singleTravel['travel_id'] %}
                    <div class="container-sm">
                        {% for row in range(row) %}
                            <div class="row">
                            {% set i = {'offset': 0} %}
                            {% for col in formation %}
                                {% for j in range(col) %}
                                    <div class="col col-md-offset-1">
                                    {% set box_number = row * tot_col + i.offset + j + 1 %}
                                    {% if box_number in occupied %}
                                        <div class="box" style="background-color: gray;">{{box_number}}</div>
                                    {% else %}
                                        <div class="box" id="box{{box_number}}" onclick="selectBox({{ box_number }})">{{ box_number }}</div>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                                <div class="empty-box"></div>
                                <br>
                                {% set _ = i.update({'offset': i.offset + col}) %}
                            {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        {% else %}
            <div>
                <h3>There are no travels that match your specified limitations.</h3>
            </div>
        {% endif %}


    </div>

</body>